.white{
text-align:right;padding-bottom:50px;
}
.white{color:white;
}
.whitee { color:white; text-align:left;
}

nav{background-color:orange;
}
p{color:black;}
.img{text-align:center;}
.blue{color:blue; text-align:center;
}
.green{color:green
}
.white a {color:white; text-decoration:none; padding:10px;
}
.par{
color:blue; text-align:center
}
.line{text-align:center;}
.center{
text-align:center; color:DARK black; font-size:30px; background-color:gray;
}